token="" # your token here
guild_id="" # the ID of the guild this bot operates in
command_prefix="^" # prefix to activate the bot
[roles]
"name"="id" # key is the preferred name of a role, id is its id
